# ======================
# Java / Spring Boot
# ======================
target/
*.class

# ======================
# IntelliJ / IDE files
# ======================
.idea/
*.iml

# ======================
# Node / React
# ======================
node_modules/

# ======================
# Logs
# ======================
*.log

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Uploads (your images)
# ======================
Backend/F3M/uploads/

# ======================
# Environment / secrets
# ======================
.env